/*reset*/
body,nav,header,div,ul,ol,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form {
    margin: 0;
    padding: 0;
    top: 0;
}
body {
    font-family:"Adobe Fan Heiti Std B", "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
    color: #434343;
    overflow-x: hidden ;
}

small {
    color: #fff;
}

ul,li { list-style: none; }

img { border: none; }

a {
    text-decoration: none;
    color: #fff
}

/*end of reset*/

header {
    position: fixed;
    z-index: 10;
    height: 40px;
    width: 100%;
    background-color: #9d9a95;
}

.my-logo {
    display: none;
}

nav>ul{
    width: 100%;
    margin: 0 auto;
}

nav li{
 display: inline-block;
}

.nav-list{
    padding: 10px;
}

.nav-list a{opacity: .8; }

.nav-list a.current,
.nav-list a:hover{
    text-shadow: 0 4px 10px #fff;
    opacity: 1;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.nav-list>a:active{
    opacity: 1;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.nav-list-after:after {
    content: "";
    margin-left: 20px;
    opacity: .6;
    border: 1px solid #fff;
}

/*banner开始======================================================*/

.index-banner {
    background: url("../img/banner.jpg") no-repeat right center;
    background-size: cover;
    font-size: 20px;

}


.banner-text-wrapper {
    text-align: right;
    height: 100vh;
    padding: 2em .4em 0 .3em;
    overflow: hidden;
}

.banner-text-wrapper>h1 {
    padding-top: 6em;
    font-size: 2em;
    color: #fff;
    font-weight: 500;

}

.banner-text-wrapper>span{
    font-size: .4em;
    letter-spacing: .2em;
}

.banner-text-wrapper>p {
    max-width: 18.5em;
    padding: 1em 0;
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.6;
}

/*banner结束===========================================================*/


.work-part>h1 {
    font-size: 100px;
    margin-left: 5%;
    padding-top: 40px;
    color: #F0E5DE;
    line-height: 1.3;
    font-weight: 600;
}

.work{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
}

.work a {
    opacity: 0;
    margin-top: -100px;
}

.work-piece {
    position: relative;
    width: 350px;
    height: 280px;
    overflow: hidden;
    margin: 10px;
    border-radius: 2px;
}

.work-describe {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 26, 28, 0.6);
    width: 350px;
    height: 280px;
}

.work-describe p {
    font-size: 16px;
    line-height: 1.8;
    display: none;
}

/*作品结束===============================================================*/

/*技能部分开始============================================================*/

.skill{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 20px;
}

.skill>h1 {
    font-size: 100px;
    margin-left: 5%;
    padding-top: 40px;
    color: #F0E5DE;
    line-height: 1.2;
    font-weight: 600;
}

.skill-list-container {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 90vw;
    margin: 20px auto;
}

.skill-list {
    margin: 10px 5px;
    text-align: center;
    width: 300px;
}

.skill-list img {
    height: 70px;
    width: 70px;
    opacity: .7;
}

.skill-list p {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 2px;
    color: #7C7877;
}

.skill-list span {
    font-size: 14px;
    letter-spacing: 1px;
    color: #a6a2a1;
    line-height: 1.8;
    word-break: break-all;
}

/*技能部分结束============================================================*/

.nonsense {
    padding: 15px 10px;
    width: 100vw;
    margin-top: 40px;
    background-color: #ABD0CE;
}

.nonsense p{
    width: 95%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 2;
}

.nonsense p span {
    font-size: 14px;
    color: #f4f4f4;
}

/*名人名言结束==============================================================*/

footer {
    position: relative;
    width: 100%;
    background-color: #7C7877;
    padding: 70px 0 20px 0;
}

footer p{
    font-size: 13px;
    color: #fafafa;
    text-align: center;
}

.footer-icon-container{
    position: absolute;
    padding: 20px 0;
    left: 50%;
    margin-left: -98px;
}

.footer-icon-container>li {
    display: inline-block;
    margin: 0 15px;
}

.footer-icon-container a .QR{
    position: absolute;
    display: block;
    background: url("../img/qr.png") center center no-repeat;
    background-size: cover;
    height: 180px;
    width: 150px;
    bottom: 50%;
    left: 50%;
    margin-left: -142px;
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    transition: all .3s;
}

.footer-icon-container li a:hover .QR{
    bottom: 80%;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

.footer-icon-container li img {
    height: 33px;
    width: 33px;
    opacity: .6;
    transition: opacity .2s;
}

.footer-icon-container li img:hover {
    opacity: 1;
}




