/*reset*/
body,nav,header,div,ul,ol,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form {
    margin: 0;
    padding: 0;
    top: 0;
}

body {
    font-family:"Adobe Fan Heiti Std B", "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
    color: #434343;
    overflow-x: hidden ;
    cursor: url("http://www.ibloger.net/cursor.ico"),auto;
}

small {
    color: #fff;
}

ul,li { list-style: none; }

img { border: none; }

a {
    text-decoration: none;
    color: #fff
}

/*end of reset*/

#preAnimation {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background: #efe9e6;
}

.double-circle{
    margin: 400px auto;
    height: 18px;
    width:  18px;
    background: #fff;
    border-radius: 50%;
    box-shadow: -60px 0 0 #fff;
    -webkit-box-shadow: -60px 0 0 #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    transform-origin: 50% 20%;
    -webkit-transform-origin: 50% 20%;
}

@keyframes spin {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}

@-webkit-keyframes spin {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}


header {
    position: fixed;
    z-index: 10;
    height: 60px;
    width: 100%;
    background-color: #9d9a95;
}

.my-logo {
    display: inline-block;
    margin-left: 2%;
    margin-top: 14px;
}

nav{
    float: right;
    margin-top: 10px;
    margin-right: 2%;
}

.nav-list{
    display: inline-block;
    padding: 10px;
}

.nav-list a{  opacity: .8; }

.nav-list a.current,
.nav-list a:hover{
    text-shadow: 0 4px 10px #fff;
    opacity: 1;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.nav-list>a:active{
    opacity: 1;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.nav-list-after:after {
    content: "";
    margin-left: 20px;
    border-left: 1px solid #fff;
    opacity: .8;
}

/*banner开始======================================================*/

.index-banner {
    background: url("../img/banner.jpg") no-repeat right center;
    background-size: cover;
    font-size: 20px;

}

@media screen and (max-width:1280px){
.index-banner {
font-size: 18px;
  }
}

@media screen and (max-width:1220px){
    .index-banner {
    font-size: 15px;
      }
}

@media screen and (max-width:1100px){
    .index-banner {
        font-size: 14px;
    }
}

@media screen and (max-width:1088px){
    .index-banner {
        background: url("../img/banner.jpg") no-repeat center center;
        background-size: cover;
        font-size: 12px;
    }
}

@media screen and (max-width:1024px){
    .index-banner {
        background: url("../img/banner.jpg") no-repeat left center;
        background-size: cover;
    }
}

.banner-text-container {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    -webkit-flex-direction: column;
    position: relative;
    max-width: 40em;
    height: 100vh;
    opacity: .3;
}

.banner-text-container>h1 {
    padding-top: 1.2em;
    font-size: 3em;
    color: #fff;
    font-weight: 500;
}

.banner-text-container>h1>span{ letter-spacing: .2em; }

.banner-text-container>p {
    max-width: 18.5em;
    padding: 1em 0;
    font-size: 1.3em;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.6;
}

/*banner结束===========================================================*/


.work-part>h1 {
    font-size: 100px;
    margin-left: 5%;
    padding-top: 40px;
    color: #F0E5DE;
    line-height: 1.3;
    font-weight: 600;
}

.work{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
}

.work a {
    opacity: 0;
    margin-top: -100px;
}

.work-piece {
    position: relative;
    width: 350px;
    height: 280px;
    overflow: hidden;
    margin: 10px;
    border-radius: 2px;
}

.work-describe {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 26, 28, 0.6);
    width: 350px;
    height: 280px;
}

.work-describe p {
    font-size: 16px;
    line-height: 1.8;
    display: none;
}

/*作品结束===============================================================*/

/*技能部分开始============================================================*/

.skill{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 20px;
}

.skill>h1 {
    font-size: 100px;
    margin-left: 5%;
    padding-top: 40px;
    color: #F0E5DE;
    line-height: 1.2;
    font-weight: 600;
}

.skill-list-container {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 90vw;
    margin: 20px auto;
}

.skill-list {
    margin: 10px 5px;
    text-align: center;
    width: 300px;
}

.skill-list img {
    height: 70px;
    width: 70px;
    opacity: .7;
}

.skill-list p {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 2px;
    color: #7C7877;
}

.skill-list span {
    font-size: 14px;
    letter-spacing: 1px;
    color: #a6a2a1;
    line-height: 1.8;
    word-break: break-all;
}

/*技能部分结束============================================================*/

.nonsense {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 100vw;
    margin-top: 40px;
    background-color: #ABD0CE;

}


.nonsense p{
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    line-height: 2;
}

.nonsense p span {
    font-size: 16px;
    color: #f4f4f4;
}

 /*名人名言结束==============================================================*/

footer {
    width: 100vw;
    position: relative;
    background-color: #7C7877;
}

footer>p{
    position: absolute;
    margin-left: 4%;
    font-size: 15px;
    color: #fafafa;
    letter-spacing: 1px;
    padding-top: 32px;
}

@media screen and (max-width:605px){
    footer>p {
        display: block;
        position: inherit;
        text-align: center;
    }
}

.footer-icon-container {
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
}

.footer-icon-container>li {
    position: relative;
    margin: 0 15px;
}



.footer-icon-container a .QR{
    position: absolute;
    display: block;
    background: url("../img/qr.png") center center no-repeat;
    background-size: cover;
    height: 180px;
    width: 150px;
    bottom: 50%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    transition: all .3s;
}

.footer-icon-container li a:hover .QR{
    bottom: 80%;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    opacity: 1;
}

.footer-icon-container li img {
    height: 33px;
    width: 33px;
    opacity: .6;
    transition: opacity .2s;
}

.footer-icon-container li img:hover {
    opacity: 1;
}




