/*reset*/
body,nav,header,div,ul,ol,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form {
    margin: 0;
    padding: 0;
    top: 0;
}
body {
    font-family: Arial,"微软雅黑";
    font-size: 14px;
    color: #434343;
}

ul,li { list-style: none; }

img { border: none; }

a {
    text-decoration: none;
    color: #fff
}

/*end of reset*/

header {
    position: fixed;
    z-index: 10;
    height: 60px;
    width: 100%;
    background-color: #9d9a95;
}

.nav-name {
    display: inline-block;
    margin-left: 2%;
    margin-top: 14px;
}

nav{
    float: right;
    margin-top: 10px;
    margin-right: 2%;
}

.nav-list{
    display: inline-block;
    /*padding-left: 30px;*/
    padding: 10px;
}

@media screen and (max-width:520px){
    .nav-list {
        display: none;
    }
}

.nav-list a{  opacity: .8; }

.nav-list>a:hover{
    opacity: 1;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.nav-list-after:after {
    content: "";
    margin-left: 20px;
    border-left: 1px solid #fff;
    opacity: .8;
}

.index-banner {
    background: url("img/banner.png") no-repeat right center;
    background-size: cover;
    font-size: 20px;
}

@media screen and (max-width:1280px){
.index-banner {
font-size: 18px;
  }
}

@media screen and (max-width:1220px){
    .index-banner {
    font-size: 15px;
      }
}

@media screen and (max-width:1150px){
    .index-banner {
        font-size: 14px;
    }
}

@media screen and (max-width:930px){
    .index-banner {
        background: url("img/banner.jpg") no-repeat left center;
        background-size: cover;
    }
}

.banner-text-container {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    -webkit-flex-direction: column;
    position: relative;
    margin-left: 5em;
    max-width: 40em;
    height: 100vh;
}

.banner-text-container>h1 {
    padding-top: 1.2em;
    font-size: 3em;
    color: #fff;
    font-weight: 500;
}

.banner-text-container>h1>span{ letter-spacing: .3em; }

.banner-text-container>p {
    width: 18.5em;
    padding: 1em 0;
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.6;
}

/*#banner-btn-about {*/
    /*height: 2.5em;*/
    /*width: 14em;*/
    /*background-color: #9d9a95;*/
    /*color: #fff;*/
    /*border: none;*/
    /*margin-top: .7em;*/
    /*margin-bottom: 3em;*/
/*}*/

 /*技能部分开始*/

.skill{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.skill-list-container {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-around;
    width: 90vw;
    margin: 0 auto;
}

.skill-list {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid #f95959;
    margin: 80px 20px;
}

 /*技能部分结束*/

.work{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;

    width: 100%;
    margin: 40px auto;
}

.work-piece {
    position: relative;
    width:350px;
    height: 320px;
    overflow: hidden;
    margin: 5px;
    border-radius: 1.5%;
}

.work-describe {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(249, 89, 89, .85);
    width: 350px;
    height: 320px;
}

.work-describe p {
    font-size: 16px;
    line-height: 1.8;
    display: none;
}

/*作品结束*/

.nonsense {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 320px;
    width: 100vw;
    background-color: #f95959;

}


.nonsense p{
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    line-height: 2;
}

.nonsense p span {
    font-size: 16px;
    color: #f4f4f4;
}

 /*名人名言结束*/

footer {
    width: 100vw;
    background-color: #4e4b49;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.footer-icon-container {
    margin-top: 20px;
}

.footer-icon-container li {
    display: inline-block;
    opacity: .2;
    padding: 0 10px;
}

.footer-icon-container li img {
    height: 38px;
    width: 38px;
}

.footer-icon-container li:hover {
    opacity: .8;
    transition-duration: .4s;
    transition-timing-function: ease;
}

footer>p{
    color: #fffbf9;
    font-size: 14px;
    margin-left: 2%;
    opacity: .2;
    padding: 10px 0;
}

footer>p:hover {
    opacity: .8;
    transition-duration: .4s;
    transition-timing-function: ease;
}

