*{
    margin: 0;
    padding: 0;
}
.background{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
}

.left-side {
    background-color: #687387;
    width: 600px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    height: 100vh;
}
.stop-watch {
    width: 400px;
    height: 580px;
    background-color: #4d5061;
    margin: 11% auto;
    box-shadow: 5px 5px 10px #282c36;
    overflow: hidden;

}
.time-show {
    margin-top: 20%;
    display: block;
    background-color: #4d5061;
    border: none;
    width: 100%;
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    color: #687387;
    text-shadow: -1px 0 #6e8c96,
                 0 1px #6e8c96 ,
                 2px 2px #3a4351,
                 2px 0 #3a4351;
}

.btn-wrap {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}

.stop-watch-btn {
    margin: 10px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #8cb1bb;
    color: #c6f4fe;
}

#time-now {margin-top: 30px;}

#time-now p{
    color: #c6f4fe;
    font-size: 18px;
    text-align: center;
    line-height: 2.2;
    border-bottom: 1px solid #6e8693;
    width: 80%;
    margin: 0 auto;
}
.right-side {
    background-color: #FF9898;
    width: 600px;
    height: 100vh;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

#clock {
    position: relative;
    margin: 20% auto;
    overflow: hidden;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #cf455c;
    box-shadow: 0 5px 16px #6a004e;
    border: 8px solid #FF9898;
}
#scale {
    width:20px;
    height: 96%;
    position: absolute;
    left: 50%;
    margin-top: 2%;
    margin-left: -10px;
}
#point {
    background: #f68593;
    border-radius: 50%;
    margin: auto;
}
#number {
    margin-left: -20px;
    margin-top: -10px;
    font-size: 100px;
    color: #f68593;
    text-align: center;
    opacity: .3;
    letter-spacing: -20px;
    width: 45px;
    height: 20px;
    line-height: 5px;
}
.clock-center {
    position: absolute;
    z-index: 1000;
    margin-top: 49%;
    margin-left: 49.6%;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FF9898;
    box-shadow: 1px 2px 4px #d16976;
}

.clock-center-round{
    position: absolute;
    margin-top: 19%;
    margin-left: 19%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #FF9898;
    opacity: .9;
}

#hour {
    position: absolute;
    top: 50px;
    left: 51%;
    width: 4px;
    height: 150px;
    background: linear-gradient(to top,#e84a5f, rgba(222,72,97,.3), rgba(255,255,255,.1));
    background: -webkit-linear-gradient(to top,#e84a5f, rgba(222,72,97,.3), rgba(255,255,255,.1));
    background: -o-linear-gradient(to top,#e84a5f, rgba(222,72,97,.3), rgba(255,255,255,.1));
    background: -moz-linear-gradient(to top,#e84a5f, rgba(222,72,97,.3), rgba(255,255,255,.1));
    border-radius: 20%;
    transform-origin: 11% 100%;
}
#minute {
    position: absolute;
    width: 3px;
    height: 180px;
    top: 20px;
    left: 51%;
    background: linear-gradient(to top,#de4861, rgba(222,72,97,.3), rgba(255,255,255,.1));
    background: -webkit-linear-gradient(to top,#de4861, rgba(222,72,97,.3), rgba(255,255,255,.1));
    background: -o-linear-gradient(to top,#de4861, rgba(222,72,97,.3), rgba(255,255,255,.1));
    background: -moz-linear-gradient(to top,#de4861, rgba(222,72,97,.3), rgba(255,255,255,.1));
    border-radius: 20%;
    transform-origin: 0 100%;

}
#second {
    position: absolute;
    z-index: 100;
    width: 2px;
    height: 200px;
    left: 50.5%;
    background: linear-gradient(to top,#de4861, rgba(222,72,97,.3), rgba(255,255,255,.1));
    background: -webkit-linear-gradient(to top,#de4861, rgba(222,72,97,.3), rgba(255,255,255,.1));
    background: -o-linear-gradient(to top,#de4861, rgba(222,72,97,.3), rgba(255,255,255,.1));
    background: -moz-linear-gradient(to top,#de4861, rgba(222,72,97,.3), rgba(255,255,255,.1));
    transform-origin: 50% 100%;
    transition: all .5s ease-in-out;
}